<%- include('header'); %>
  <div class="row">
    <div class="md-8 p-3">
    Welcome to RPSRoyale.
    </div>
  </div>
  <div class="row p-1">
    <div class="md-8">
    If you're not familiar with the basics of Rock-Paper-Scissors, consult <a href="https://en.m.wikipedia.org/wiki/Rock_paper_scissors">the source of all truth and knowledge</a>.
    </div>
  </div>
  <div class="row p-1">
    <div class="md-8">
    RPSRoyale is an online, massively multiplayer, battle royale version of Rock-Paper-Scissors.
<br><br>
    Matches happen asynchronously - you can attack any other player at any time.  Each player can queue one or more "defense" moves.  When you attack, your opponent's next defense move is used automatically.
<br><br>
    Each attack or defense costs one "action point"; when you run out, you can't do anything else for the time being.  You receive action points every so often, but you can also get more by scanning QR codes posted around CFA.  If you want to be able to play more, visit more of Art in the Open!
<br><br>
    Note: this is a first beta-test of RPSRoyale.  The exact rules could change at any time.
    </div>
  </div>
<%- include('footer'); %>
