<%- include('header'); %>
  <div class="row">
    <div class="md-8 p-3">
    RPSR is a Battle Royale version of Rock-Paper-Scissors.
    </div>
  </div>
  <div class="row">
    <div class="md-8">
    The basics of Rock-Paper-Scissors ...
    </div>
  </div>
  <div class="row">
    <div class="md-8">
    More about RPSR
    </div>
  </div>
  <div class="row">
    <div class="md-8">
    <a href="/" class="button">Back to the game</a>
    </div>
  </div>
<%- include('footer'); %>
