<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    This is the attack page.
<table class="table">
<% otherplayers.forEach(function(p) { %>
    <tr><th><%= p.screenname %></th>
    <td><form method="POST" action="makeattack"><input type="hidden" name="otherid" value="<%= p._id %>"> <input type="submit" name="rock" value="rock"> <input type="submit" name="paper" value="paper"> <input type="submit" name="scissors" value="scissors"></form></td>
    </tr>
<% }) %>
</ul>
    </div>
  </div>
<%- include('footer'); %>
