<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    Choose a defensive move
    </div>
    <div class="md-8 text-center p-3">
    You currently have <%= numDefenses %> moves queued.
    </div>
    <div class="md-8 text-center p-3">
    Play:<br>
    <form method="post" action="makedefense">
    <input type="submit" name="rock" value="rock">
    <input type="submit" name="paper" value="paper">
    <input type="submit" name="scissors" value="scissors">
    </form>
    </div>
  </div>
<%- include('footer'); %>
