<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    This is the defend page.
    </div>
    <div class="md-8 text-center p-3">
    Play:<br>
    <form method="post" action="makedefense">
    <ul class="horizontallist">
    <li><input type="submit" name="rock" value="rock"></li>
    <li><input type="submit" name="paper" value="paper"></li>
    <li><input type="submit" name="scissors" value="scissors"></li>
    </ul>
    </form>
    </div>
  </div>
<%- include('footer'); %>
