  <div class="row justify-content-center">
    <div class="col-md-8 text-center p-3">
    <img src="/rps_hands.png" class="img-fluid">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-center p-3">
    <a href="https://infringebuffalo.org"><img src="/BIF_2023header.jpg" class="img-fluid" width="50%"></a>
    </div>
  </div>

</div>
</body>
</html>
