<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    Choose your action above
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
    <img src="/rps_hands.png" class="img-fluid">
    </div>
  </div>
<%- include('footer'); %>
