<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    New results: <%= user.hasNewResults %>
<br>
    Action points: <%= user.actionpoints %>
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
      <a href="/attack" class="btn btn-primary">Attack</a>
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
      <a href="/defend" class="btn btn-primary">Defend</a>
    </div>
  </div>
<%- include('footer'); %>
