<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    This is the home page.
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
      <a href="/attack" class="btn btn-primary">Attack</a>
    </div>
  </div>
  <div class="row">
    <div class="md-8 text-center p-3">
      <a href="/defend" class="btn btn-primary">Defend</a>
    </div>
  </div>
<%- include('footer'); %>
