<%- include('header'); %>
<% if (error) { %>
  <div class="row">
    <div class="md-8 text-center p-3 text-danger">
    <%= error %>
    </div>
  </div>
<% } %>
  <div class="row">
    <div class="md-8 text-center p-3">
<form method="POST" action="/loginEmail">
Your email address: <input type="text" name="email" value="">
<br><br>
<input type="submit" value="submit">
</form>
<br>
You will be sent an email with a link that will log you in to your game.
    </div>
  </div>
<%- include('footer'); %>
