<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    A login link has been mailed to you.
    <br> It may take a few minutes to arrive.
    <br> Check your junk mail folder if you don't see it soon.
    </div>
  </div>
<%- include('footer'); %>
