<%- include('header'); %>

<h1>match failed</h1>

<p>
Sorry - your attempted attack failed.
</p>
<p>
You have already beaten that person by default once recently.  It wouldn't be fair to let you do that again, until they've had a chance to play some more.
</p>

<%- include('footer'); %>
