<%- include('header'); %>

<h1>failed to create account</h1>

<p>Someone else must already be using that name - try a different one</p>

<p><a href=".">return to welcome page</a></p>

<%- include('footer'); %>
