<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    You have no action points - you cannot make a play.
    <br>
    Try scanning another QR code, or waiting a few minutes, for more points.
    </div>
  </div>
<%- include('footer'); %>
