<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    Congratulations.  You now have an additional <%= points %> action points.
    </div>
  </div>
<%- include('footer'); %>
