<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    Sorry, but you have already scanned this QR code for action points.
<br>
    Come back in about an hour for more, or play using the points you already have.
    </div>
  </div>
<%- include('footer'); %>
