<%- include('header'); %>

<h1>error</h1>

Failed to save your email address.
<br>
Someone else must already be using that address.

<p><a href=".">return to main page</a></p>

<%- include('footer'); %>
