<%- include('header'); %>
  <div class="row">
    <div class="md-8 text-center p-3">
    This is the settings page.
<br> There is nothing to do here right now.
    </div>
  </div>
<%- include('footer'); %>
