<%- include('header'); %>

<h1>failed to create account</h1>

<p>There might already be an account for that e-mail address.</p>

<p><a href=".">return to login page</a></p>

<%- include('footer'); %>
